#
# Flask Configuration
#
#------------------------
FLASK_ENV=production

#
# Postgres configuration
#
#------------------------
#
# POSTGRES_HOST=
#
POSTGRES_PASSWORD=abcd
POSTGRES_USER=mib_blacklist_ms
POSTGRES_DB=mib_blacklist_ms
